{% extends "baselogueado.html" %}
{% block title %}ex4play - Actualizar Datos{% endblock %}
{% block content %}

<html>

    <head>
    <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <script>
    $(function () {
        $('#nav-profile-tab li:last-child a').tab('show')
    })
    $('#myDropdown').on('show.bs.dropdown', function () {
    // do something...
    })

    $(document).ready( function() {
        function readURL(input)
        {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgUser').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
         $('#imgInp').change(function(){
                readURL(this);
         });

         $('#addAddress').click(function() {
           if ( $("#divAd2").is(":hidden") ) {
             $("#divAd2").show();
           } else if ( $("#divAd3").is(":hidden") ) {
             $("#divAd3").show();
           }else if ( $("#divAd4").is(":hidden") ) {
             $("#divAd4").show();
           }
        });
    });

    </script>

    <body class="bg-overlay">
            <div style="display: flex; align-items: center; justify-content: center;"> <h1>{{ mensaje }} </h1> </div>
        <div class="container body-content">
                <div class="header">
                    <h1><img src="{{url_for('static', filename='logoRojo.png')}}" alt="" style="width:35%"></h1>
                </div>
            <div class="content">
                <h2 style="text-align: center;">Actualizar Datos</h2>
                <hr style="color:white;background-color:white">
                <p>Utilice las siguientes opciones para actualizar y ver información referente a su usuario: </p>


                <nav>
                    <div class="nav nav-pills mb-3" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Datos Generales</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Direcciones</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Puntos</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="form-signin">
                            <section class="form-register">
                                <form name="frmActUser" method="post" action=" {{url_for('updateUser') }} " enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="nickname"><b>Foto usuario:</b></label>
                                        <img class="img-thumbnail" alt="Cinque Terre" style="width:20%" id='imgUser' src="data:image/jpeg;base64,{{foto}} "/>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" id="imgInp" name="imgInp" aria-label="Cargar imágen" aria-describedby="Cargar imágen">
                                    </div>
                                    <div class="form-group">
                                      <label for="nickname"><b>Nickname</b></label>
                                      <input type="text" class="form-control" id="nickname" placeholder="Nickname del usuario" value="{{usuario.nickName}}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="nombres"><b>Nombres</b></label>
                                        <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres del usuario" value="{{usuario.nombres}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="apellidos"><b>Apellidos</b></label>
                                        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos del usuario" value="{{usuario.apellidos}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="email"><b>Email</b></label>
                                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="usuario@correo.com" value="{{usuario.email}}" disabled>
                                        <small id="emailHelp" class="form-text text-muted">Su correo no será compartido.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="edad"><b>Edad</b></label>
                                        <input type="number" class="form-control" id="edad" name="edad" placeholder="Edad" style="width:100px" value="{{usuario.edad}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="genero"><b>Genero</b></label>
                                        <select id="genero" class="form-control" name="genero" value="{{usuario.genero}}">
                                            <option value="0">Masculino</option>
                                            <option value="1">Femenino</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fecha"><b>Fecha Nacimiento</b></label>
                                        <input type="date" class="form-control" id="fecha" name="fecha" value="{{usuario.fechanac}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="celular"><b>Celular</b></label>
                                        <input type="text" class="form-control" id="celular" name="celular" value="{{usuario.celular}}">
                                    </div>
                                    <div class="form-group">
                                    <div >
                                        <input type="submit" value="Guardar" class="btn btn-lg btn-primary btn-block" style="margin:0px auto; display:block;"/>
                                    </div>
                                </div>
                                </form>
                            </section>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="form-signin">
                            <section class="form-register">
                                <div class="form-group">
                                    <label for="ciudad"><b>Ciudad</b></label>
                                    <select id="ciudad" class="form-control" name="ciudad" value="{{ciudades.nombreCiudad}}" style="width:200px">
                                        {% for c in ciudades %}
                                            <option value={{c.idCiudad}}>{{c.nombreCiudad}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button id="addAddress" name="addAddress" type="button" class="btn btn-primary">+</button>
                                 <div class="form-group">
                                     <br>
                                    <label for="dir1"><b>Dirección Principal:</b></label>
                                    <input type="text" class="form-control" id="dir1" name="dir1" placeholder="Dirección Principal">
                                 </div>
                                <div id="divAd2" class="form-group" style="display:none">
                                    <label for="dir2"><b>Dirección 2:</b></label>
                                    <input type="text" class="form-control" id="dir2" name="dir2" placeholder="Dirección 2">
                                 </div>
                                <div id="divAd3" class="form-group" style="display:none">
                                    <label for="dir3"><b>Dirección 3:</b></label>
                                    <input type="text" class="form-control" id="dir3" name="dir3" placeholder="Dirección 3">
                                 </div>
                                <div id="divAd4" class="form-group" style="display:none">
                                    <label for="dir4"><b>Dirección 4:</b></label>
                                    <input type="text" class="form-control" id="dir4" name="dir4" placeholder="Dirección 4">
                                 </div>
                                <div class="form-group">
                                    <div >
                                        <input id="saveAddress" type="submit" value="Guardar" class="btn btn-lg btn-primary btn-block" style="margin:0px auto; display:block;"/>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="form-signin">
                            <table class="table">
                              <thead class="thead-dark">
                                <tr>
                                  <th scope="col">Saldos</th>
                                  <th scope="col">Valor Pagado</th>
                                  <th scope="col">Valor Cobrado</th>
                                  <th scope="col">Ejemplares recibidos</th>
                                  <th scope="col">Ejemplares entregados</th>
                                  <th scope="col">Ejemplares publicados</th>
                                </tr>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}