{% extends "baselogueado.html" %}

{% block title %}
ex4play - Publicar un ejemplar
{% endblock %}
{% block content %}
<html>

    <head>
        <title>ex4play</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    </head>
<body class="bg-overlay">
    <div class="alert alert-primary" role="alert">
      <h5>{{ mensaje }}</h5>
    </div>

<!-- <div class="bg-overlay"  style="background-color:#444;align-items: center; justify-content: center;"> -->
    <div class="container body-content">
        <div class="header">
                <h1><img src="{{url_for('static', filename='logoClaro.png')}}" alt="" style="width:30%"></h1>
            </div>
    </div>


    <div class="container border-info mb-3" body-content align="center">
        <form class="form-signin" autocomplete="off" name="frmcargarEjemplar" method="post" action=" {{url_for('cargarEjemplar')}} " enctype="multipart/form-data"  style="align-items: center;padding: 30px;background-color: #91D8F7;width: 40rem;border-radius: 25px">
            <div class="form-group" style="position: center">
                    <input type="file" id="imgInp" name="imgInp" aria-label="Cargar imágen" aria-describedby="Cargar imágen">
                    <img style="align: center;justify-content: center;width:100%;" id='img-upload'/>
            </div>

            <div class="form-group" style="position: center">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanB" id="nombre"><b>Nombre</b></span>
                  </div>
                  <input type="textarea" rows="3" autocomplete="on" class="form-control" name="busqueda" id="busqueda" aria-label="Nombre del Videojuego" placeholder="Nombre del videojuego"  aria-describedby="nombre">
                </div>
            </div>


            <div class="form-group" style="position: center">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text spanB"><b>Estado videojuego:</b></span>
                </div>
                <input type="number" min="1" max="10" value="1" name="estado" id="estado" >
                <div class="input-group-prepend">
                  <span class="input-group-text spanB"><b>de 10</b></span>
                </div>
             </div>
            </div>

            <div class="form-group" style="position: center">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text spanB"><b>Comentario</b></span>
                  </div>
                  <textarea class="form-control" rows="5" aria-label="Comentario" name="comentario" id="comentario" placeholder="Cuentanos algo de tu videojuego, hace cuanto lo tienes, etc."></textarea>
                </div>
            </div>


            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input"  align="right" value="1" name="publicar" id="publicar">
                <label class="form-check-label" for="publicar">Publicar este ejemplar</label>
            </div>

            <div class="form-group" style="position: center">
                <input class="btn btn-primary" type="submit" value="Cargar">
            </div>

        </form>
    </div>
 </div>


</body>
{% endblock %}