{% extends "base.html" %}
{% block title %}ex4play - Inicio{% endblock %}
{% block content %}


<html>

    <head>
    <title>ex4play</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>

    <body class="bg-overlay">
        <div class="alert alert-dark" role="alert">
          <h5>{{ mensaje }}</h5>
        </div>
        <div class="container body-content">
            <div class="header">
                <h1><img src="{{url_for('static', filename='logoFinal.png')}}" alt="" style="width:20%"></h1>
            </div>
        </div>

    {% if confirmarusr == 1 %}
    <section >
        <div class="alert alert-dark" align="center" role="alert">
            <strong><a href="{{url_confirma}}">{{accion}}</a></strong>
        </div>
    </section>
    {% endif %}

        <div style="background-color:#444;">
            <div class="alert alert-dark" role="alert">
              <h5>NOVEDADES</h5>
            </div>

            <form name="form" action="{{url_for('buscar')}}" method="post">
                <div class="input-group" align="center">
                    <div class="input-group-prepend">
                        <span class="input-group-text"  id="buscar">Buscar juego</span>
                    </div>
                    <input autocomplete="on" class="form-control" id="busqueda" name="busqueda" aria-label="Buscar videojuegos" aria-describedby="Buscar">
                    <div class="input-group-append">
                       <button class="btn btn-outline-secondary" type="button">Buscar</button>
                    </div>
                </div>
            </form>

            {% set indice = namespace(cont=1) %}
            {% set reinicia = namespace(cont=1) %}

            {% for vj in novedades %}
                {% if reinicia.cont == 1 %}
                <div class="card-deck">
                {% endif %}
                <form name="form" action="{{url_for('ejemplaresusuario')}}" method="post">
                    <input value="{{vj[0]}}" type="hidden" name="idejemplar" />
                    <div class="card border-info mb-3" style="width: 15rem;max-width: 15rem;display: flex; align-items: center; justify-content: center;">
                        <br>
                        <h5 class="card-header text-light" align="center" style="width= 100%">{{ vj[3] }}</h5>
                        <div class="card-body">
                            <!--<div class="embed-responsive embed-responsive-16by9">-->
                               <img class="card-img-top zoom" style="display: block;margin-left: auto;margin-right: auto;width: 10rem;" src="data:image/jpeg;base64,{{ vj[2] }} " alt=" {{ vj[3] }} ">
                               <!--<img class="card-img-top embed-responsive-item" src="data:image/jpeg;base64,{{ vj[2] }} " alt=" {{ vj[3] }} ">-->
                            <!--</div>-->
                        </div>
                        <ul class="list-group list-group-flush" style="background-color:#4444;">
                            <li class="list-group-item">Puntos: {{ vj[6] }}</li>
                            <li class="list-group-item">Estado: {{ vj[7] }} de 10</li>
                        </ul>
                        <div class="card-footer text-light">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="submit" name="btnejemplar" value="solicitar" class="btn btn-sm btn-outline-secondary text-light" style="background-color:#0074a3;">Quiero este juego!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% if indice.cont is divisibleby 5 or indice.cont == novedades|count %}
            </div>
            <div class="row" style="display: flex; align-items: center; justify-content: center;" >
            </div>
                    {% set reinicia.cont = 1 %}
                {% else %}
                    {% set reinicia.cont = 0 %}
                {% endif %}
                {% set indice.cont = indice.cont + 1 %}
            {% endfor %}
        </div>
        <footer class="pt-4 my-md-5 pt-md-5 border-top" style="background-color:#444;">
            <div class="row">
              <div class="col-12 col-md">
                <img class="mb-2" src="{{url_for('static', filename='logoFinal.png')}}" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">© 2020</small>
              </div>
              <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Cool stuff</a></li>
                  <li><a class="text-muted" href="#">Random feature</a></li>
                  <li><a class="text-muted" href="#">Team feature</a></li>
                  <li><a class="text-muted" href="#">Stuff for developers</a></li>
                  <li><a class="text-muted" href="#">Another one</a></li>
                  <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Resource</a></li>
                  <li><a class="text-muted" href="#">Resource name</a></li>
                  <li><a class="text-muted" href="#">Another resource</a></li>
                  <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
              </div>
              <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="#">Team</a></li>
                  <li><a class="text-muted" href="#">Locations</a></li>
                  <li><a class="text-muted" href="#">Privacy</a></li>
                  <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
              </div>
            </div>
        </footer>


    {% endblock %}
    </body>
</html>
