{% extends "baseadmin.html" %}
{% block title %}Administrador - ex4play{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lemon">

    <section >
        <div class="bgimg-1">
            <div class="container text-center">
                <img  src="{{url_for('static', filename='logoFinal.png')}}" alt="" style="width:20%">
            </div>
        </div>
    </section>

    <div class="alert alert-dark" role="alert">
      <h5>{{ mensaje }}</h5>
    </div>

    <div style="background-color:#6eba82;">
    </div>
{% endblock %}
