{% extends "base.html" %}
{% block title %}ex4play - Registro / Ingreso{% endblock %}
{% block content %}

  <div style="display: flex; align-items: center; justify-content: center;"> <h1>{{ mensaje }} </h1> </div>
  <div class="container" style="display: flex; align-items: center; justify-content: center; "">
    <div class="card" style="width: 18rem; background-color=#e48568; display: flex; align-items: center; justify-content: center; ">
          <div class="card-body">
            <h1>Ingresar</h1>
            <section class="form-register">
                <form name="frmlogin" method="post" action=" {{url_for('login') }} ">
                <label class="label" for="nick">Usuario</label>
                <p><input class="controls" name="nick" id="nick" placeholder="Nickname" type="text" required></p>
                <label class="label" for="clave">Clave</label>
                <p><input class="controls" name="clave" id="clave" placeholder="Clave" type="password" required></p>
                <p><input class="botons" type="submit" value="ingresar"></p>
                </form>
            </section>
          </div>
          <div class="card-footer">
            <a href= {{url_for('registro') }} class="card-link">Crear cuenta</a>
            <a href= {{url_for('resetclave') }} class="card-link">Olvidé mi clave</a>
          </div>
      </div>
    </div>
{% endblock %}
