{% extends "base.html" %}
{% block title %}ex4play - Registro / Ingreso{% endblock %}
{% block content %}
<div xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <h1>{{ mensaje }}</h1>
    </div>
    <table
        <tr><td>
            <div>
                <h1>Ingresar</h1>
                <section class="form-register">
                    <form name="frmlogin" method="post" action=" {{url_for('login') }} ">
                    <label class="label" for="nick">Usuario</label>
                    <p><input class="controls" name="nick" id="nick" placeholder="Nickname" type="text" required></p>
                    <label class="label" for="clave">Clave</label>
                    <p><input class="controls" name="clave" id="clave" placeholder="Clave" type="password" required></p>
                    <p><input class="botons" type="submit" value="ingresar"></p>
                    </form>
                </section>
            </div>
        </td>
        <td width="20%">
        </td>
        <td>
            <div>
                <h1>Registro</h1>
                <section class="form-register">
                    <form name="frmregistro" method="post" action="{{url_for('registro') }}" onsubmit="return validateReg()">
                        <label class="label" for="nombres">Nombres</label>
                        <p><input class="controls"  name="nombres" id="nombres" placeholder="Nombre" type="text" required></p>
                        <label class="label" for="apellidos">Apellidos</label>
                        <p><input class="controls"  name="apellidos" id="apellidos" placeholder="Apellidos" type="text" required></p>
                        <label class="label" for="email">Email</label>
                        <p><input class="controls" name="email" id="email" placeholder="Email" type="email" required></p>
                        <label class="label" for="clave">Clave</label>
                        <p><input class="controls" name="clave" placeholder="Clave" type="password" required></p>
                        <label class="label" for="repetirclave">Repetir clave</label>
                        <p><input class="controls" name="repetirclave" id="repetirclave" placeholder="Repetir clave" type="password" required></p>
                        <p><input class="botons" type="submit" value="registrar"></p>
                    </form>
                </section>
            </div>
        </td>
        <td>
            <div>
                <h1>Cambiar clave</h1>
                <section class="form-register">
                    <form name="frmresetclave" method="post" action=" {{url_for('resetclave') }} ">
                        <label class="label" for="nick">Usuario</label>
                        <p><input class="controls" name="nick" id="nick" placeholder="Nickname" type="text" required></p>
                        <label class="label" for="clave">Clave</label>
                        <p><input class="controls" name="clave" id="clave" placeholder="Clave" type="password" required></p>
                        <p><input class="botons" type="submit" value="ingresar"></p>
                    </form>
                </section>
            </div>
        </td>
        <td width="20%">
        </td>
    </table>
{% endblock %}
