<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body align="center" style="background-image: url({{url_for('static', filename='logoFinal.png', )}});background-size: 40%; background-repeat: no-repeat; background-position: left top;">
  <div style="font-family:verdana;">
    <h1 align="center"> Bienvenido a ex4play {{ nick }}</h1>
    <h2><p align="center"> Hola, solo falta un paso para que empieces a intercambiar tus videojuegos. </p></h2>
    <h2><p align="center"> Confirma aquí: {{ urlconfirma }} </p></h2>
    <h2><p align="center"> ex4play © 2018 </p></h2>
    <h2><p align="center"> :: Otro producto ~ baisica ~ :: </p></h2>
    <h2><p align="center"> Este mensaje se ha enviado desde un formulario de contacto en ex4play :: Renueva tu juego!!! </p></h2>
    <h3><a align="center" href=http://www.baisica.co/ex4play> ex4play.com </a></h3>
  </div>
</body>
</html>
