<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div style="font-family:verdana;">
    <h1 align="center"> Hola {{ nick }}</h1>
    <h2><p align="center"> Tienes un nuevo mensaje. </p></h2>
    <h2><p align="center"> Felicidades, {{ nick }} aceptó el trato para el videojuego {{juego}}. </p></h2>
    <h2><p align="center"> Aceptaste el trato para el juego {{juego}}, le avisaremos a {{usrdestino}} para que envíe una respuesta. </p></h2>
    <h2><p align="center"> Muy bien, se cerró el trato por el juego {{juego}}, nuestro equipo de logistica coordinará pronto para recogerlo / enviarlo. </p></h2>
    <h2><p align="center"> ex4play © 2020 </p></h2>
    <h2><p align="center"> :: Otro producto ~ baisica ~ :: </p></h2>
    <h2><p align="center"> Este mensaje se ha enviado desde un formulario de contacto en ex4play :: Renueva tu juego!!! </p></h2>
    <hr style="color:white;background-color:white">
    <h3><a align="center" href={{ urlapp }}> ex4play.com </a></h3>
  </div>
</body>
</html>