<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body align="center" style="background-image: url({{url_for('static', filename='logoFinal.png', )}});background-size: 40%; background-repeat: no-repeat; background-position: left top;">
  <div style="font-family:verdana;">
    <h1 align="center"> Hola {{ nick }}</h1>
    <h2><p align="center"> Parece que solicitaste este correo para poder cambiar tu clave, si no fuiste tu haz caso omiso</p></h2>
    <h2><p align="center">  </p></h2>
    <h2><p align="center"> Clic aquí para cambiarla: {{ urlconfirma }} </p></h2>
    <h2><p align="center"> ex4play © 2020 </p></h2>
    <h2><p align="center"> :: Otro producto ~ baisica ~ :: </p></h2>
    <h2><p align="center"> Este mensaje se ha enviado desde un formulario de contacto en ex4play :: Renueva tu juego!!! </p></h2>
    <hr style="color:white;background-color:white">
    <h5><p align="center"> Te enviamos este correo porque solicitaste un cambio de clave. Si crees que esto es un error por favor escríbenos a ex4play@baisica.co </p></h5>
    <h3><a align="center" href={{ urlapp }}> ex4play.com </a></h3>
  </div>
</body>
</html>
