{% extends "base_test.html" %}
{% block title %}ex4play - Registro / Ingreso{% endblock %}
{% block content %}

<html>

<head>
    <title>ex4play</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bg-overlay">
        <div>
            <div class="alert alert-dark" role="alert">
              <h3>{{ mensaje }}</h3>
            </div>
        </div>

  <div class="container body-content">
        <div class="header">
          <h1><img src="{{url_for('static', filename='logoClaro.png')}}" alt="" style="width:30%"></h1>
        </div>

        <section class="content">
            <h4 align="center">Cambiar Clave</h4>
            <hr style="color:white;background-color:white">
            <form name="frmresetclave" method="post" action=" {{url_for('resetclave') }} ">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="email">Usuario</label>
                    <div class="col-md-10">
                        <p><input class="controls form-control" name="email" id="email" placeholder="Correo electrónico" type="text" required></p>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Enviar Clave" class="btn btn-lg btn-success btn-block" style="margin:0px auto; display:block;"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card text-center">
              <div class="card-footer">
                <a href= {{url_for('registro') }} class="card-link">Crear cuenta</a>
                <a href= {{url_for('login') }} class="card-link">Iniciar sesion</a>
              </div>
            </div>
        </section>
  </div>
</body>
</html>
{% endblock %}
